<?xml version="1.0" encoding="utf-8"?>
<packages xmlns="http://schemas.microsoft.com/packaging/2010/07/nuspec.xsd">
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Data.SQLite.EF6" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.Linq" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Data.SQLite.x86" version="1.0.119.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>